<% include ./partials/header%>

<div class="container mt-5">
    <h1 class="text-center">Sign Up</h1>
    <div class="text-center" style="width: 40%;margin:30px auto;">
        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        Already registered ? <a class="btn btn-primary" href="/login">Login to continue</a>
    </div>
</div>

<% include ./partials/footer%>